<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="logout-container">

        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
